.DS_Store
workshops/.DS_Store
workshops/ws1/ws
workshops/ws1/.vscode/settings.json
workshops/ws1/ws.dSYM/Contents/Info.plist
workshops/ws1/ws.dSYM/Contents/Resources/DWARF/ws
.vscode/settings.json
workshops/.vscode/settings.json
workshops/ws2/ws
workshops/ws2/ws.dSYM/Contents/Info.plist
workshops/ws2/ws.dSYM/Contents/Resources/DWARF/ws
workshops/ws3/ws
workshops/ws3/ws.dSYM/Contents/Info.plist
workshops/ws3/ws.dSYM/Contents/Resources/DWARF/ws
workshops/ws6/p2.dSYM/Contents/Resources/DWARF/p2
.gitignore
workshops/ws6/p2.dSYM/Contents/Info.plist
workshops/ws6/p1.dSYM/Contents/Resources/DWARF/p1
workshops/ws6/p1.dSYM/Contents/Info.plist
.gitignore
workshops/ws6/p1
workshops/ws6/p2
workshops/ws5/test2.dSYM/Contents/Resources/DWARF/test2
workshops/ws5/test2.dSYM/Contents/Info.plist
workshops/ws5/test.dSYM/Contents/Resources/DWARF/test
workshops/ws5/test.dSYM/Contents/Info.plist
workshops/ws5/test2
workshops/ws5/test
workshops/ws4/ws.dSYM/Contents/Resources/DWARF/ws
workshops/ws4/ws.dSYM/Contents/Info.plist
workshops/ws4/test.dSYM/Contents/Resources/DWARF/test
workshops/ws4/test.dSYM/Contents/Info.plist
workshops/ws4/ws
workshops/ws4/test
workshops/practice/practice.dSYM/Contents/Resources/DWARF/practice
workshops/practice/practice.dSYM/Contents/Info.plist
